
@import url('clash-display.css');

/* font-family: 'ClashDisplay-Variable';
font-family: 'ClashDisplay-Extralight';
font-family: 'ClashDisplay-Light';
font-family: 'ClashDisplay-Regular';
font-family: 'ClashDisplay-Medium';
font-family: 'ClashDisplay-Semibold';
font-family: 'ClashDisplay-Bold'; */

body{
  background-color: #f8eeec;
  cursor: url('../images/cursor.png'), auto;
}

.Scene{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
    margin: 10px;
    border: 4px solid #666;
    background-color: #e7e9fe;

}

.finalButtons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.sceneTwoButtons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

h1{
  font-weight: bold;
  font-family: 'Public Pixel', sans-serif;
  font-size: 18px;
  color: purple;
  background-color: lightblue;
}

.skip{
    position: absolute;
    top: -40px;
  }

video, .scene, #sceneSecond{
  width: 100%;
  overflow: hidden;
  }


button, li, h2, .letsplay{
    font-family: 'PIXEL CRAFT', sans-serif;
    font-size: 10px;
    padding: 5px;
    color: blueviolet;
}

button, .letsplay{
  border: 2px black solid;
  margin: 10px;
  background-color: transparent;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 10px #999;
}

button:active, .letsplay:active {
  transform: translateY(4px);
  box-shadow: 0 5px #666;
}

li{
  display: inline-block;
}

li:hover{
  background-color: lightblue;
  border-radius: 10px;
}

button:hover, .letsplay:hover{
  background-color: lightblue;
}

a{
  text-decoration: none;
  color: purple;
}

p{
  font-family: 'Public Pixel', sans-serif;
  font-size: 10px;
  line-height: 25px;
  padding: .85rem 2rem;
  color: blueviolet;
}


.hinttext{
  font-family: 'Public Pixel', sans-serif;
  width: auto;
  color: white;
  background-color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  left: 120px;
  display: none;
}

.sceneTwoButtons{
  visibility: hidden;
}

.pagebuttomThree img, .pagetop img, .pagebuttom img{
  width: 100%;
}

/* .pagebuttom, .pagebuttomThree{
  position: relative;
  bottom: 0;
} */

ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  justify-items: center;
}

.logo{
  height: 30px;
  overflow: hidden;
}

p{
  overflow: auto;
}

.logoC{
  grid-column: 1 / -1;
}

#smile, #angry, #roll, #indifferent{
  font-size: 18px;
}


@media screen and (min-width:600px){
  h1{
    font-size: 28px;
  }


  button, li, h2, .letsplay, p{
    font-size: 18px;
  }

  .logo{
    height: 50px;
  }

  #smile, #angry, #roll, #indifferent{
    font-size: 30px;
  }

  button, .letsplay{
    border: 5px black solid;
    padding: 10px 20px;
  }
}

@media screen and (min-width:950px){
  h1{
    font-size: 40px;
  }

  button, li, h2, .letsplay, p{
    font-size: 24px;
  }

  p{
    line-height: 50px;
  }


  #smile, #angry, #roll, #indifferent{
    font-size:48px;
  }


ul{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

li:hover{
  border-radius: 20px;
}

li{
  padding: 10px 20px;
}

.sceneTwoButtons{
  display: flex;
  flex-direction: row;
}

.sceneTwoButtons button:hover + .hinttext{
  display: inline-block;
}

.scene{
  margin: 50px;
}

.finalButtons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
}